.faq {
	padding: 80px 125px;
}

.faqTitle {
	margin-bottom: 50px;
}

.faqList {
	display: flex;
	flex-direction: column;
	gap: 45px;
}

.faqQuestion {
	font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #d9d9d9;
	width: 100%;
	border-radius: 10px;
	border: 2px solid #d9d9d9;
	padding: 30px;
	text-align: left;
	font-size: 30px;
	cursor: pointer;
	color: #3b3636;
}

.faqAnswer {
	font-size: 30px;
	color: #3b3636;
	padding: 20px;
}
