PORT = 3000
DB_CONNECT = "mongodb+srv://zorivchaknadiia:<password>@luna.dps6e.mongodb.net/?retryWrites=true&w=majority&appName=Luna"
MONGO_URL="mongodb+srv://zorivchaknadiia:<password>@luna.dps6e.mongodb.net/"